.trai{
    width: 40vw;
    height: 705px;
    background-image: url("../images/nen.jpg");
    background-size: over;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}
div img{
  margin-top: 80px;
  margin-left: 200px;
  border-radius: 100%;
}

.con{
    position: relative;
    margin-top: 30px;
    margin-left: 10x;
    font-size: 30px;
    color: antiquewhite;
    text-align: center;
}
div span{
        
    margin-left: 214px;
    padding: 20px;
    color: aquamarine;
    font-size: 25px;
    border-bottom: 5px solid antiquewhite;

}

.con1{
    margin-top: 130px;
    margin-left: 20px;
    
}

.right{
    width: 55vw;
    height: 705px;
    float: right;
}
.righttop{
    width: 100%;
    height: 35%;
    margin-top: 40px;
    margin-left: 100px;
}
.righttop p{
    margin-right: 150px;
    font-size: 20px;
    line-height: 2;
    color: #2a628f;
    border-bottom: 2px solid #2a628f;
}
.rightbot{
    width: 100%;
    height: 56.5%;
    margin-left: 100px;
}

.rightbot p{
    color: #2a628f;
}

ul{
    list-style-type: disc;
    color: orange;
}
a{
    font-size: 18px;
}